
  <footer class="site-footer" role="contentinfo">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4 mb-5">
          <h3 class="mb-4">About Us</h3>
          <p class="mb-5"></p>
          

        </div>
        <div class="col-md-3 ml-auto">

          <h3 class="mb-4">Navigation</h3>
          <ul class="list-unstyled footer-link">
            <li><a href="/html5/">Game</a></li>
          </ul>
          
        </div>

        
      </div>

  </footer>